Name: <%= @book.name %><br/>
<% if @book.errors.any? %>
    <ul>
      <% @book.errors.full_messages.each do |msg| %>
          <li style="color:red"><%= msg %></li>
      <% end %>
    </ul>
<% end %>
Description: <%= @book.description %><br/>
Cost: <%= @book.cost %><br/>
Bookcondition: <%= @book.book_condition.name %><br/>
Buy_time: <%= @book.buy_time.to_s(:short) %><br/>
Publish_date: <%= @book.publish_date %><br/>

<%= link_to 'Books list', books_path%>